<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iattend">

    <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.IAttend">

        <!-- 设置LoginActivity为启动页 -->
        <!-- 登陆页面 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 注册页面 -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 主页面 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 用户中心页面 -->
        <activity
            android:name=".UserCenterActivity"
            android:exported="false" />

        <!-- 人像采集页面 -->
        <activity
            android:name=".CollectFaceActivity"
            android:exported="false" />

        <!-- 反馈信息页面 -->
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />

    </application>

</manifest>